<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1 class="text-center section-title"><strong>Kontak</strong></h1>
		</div>
	</div>
	<div class="clearfix"> </div> 
	<div class="row">
		<div class="col-sm-6">
			<img src="{{ base_url('assets/images/logo-thumb.png') }}" alt="Maya Florist" class="img-responsive">
			<p>
				<strong><i class="fa fa-info-circle"></i> Tentang Kami</strong>
				<br>
				Kami merupakan sebuah toko bunga online & offline yang berlokasi di Bekasi. Kami melayani pemesanan beraneka macam jenis rangkaian/karangan bunga seperti :Bunga Hias, Bunga Dekorasi, Bunga Papan, Bunga Standing, Bunga Dukacita, Bunga Ucapan Selamat, Bunga Rangkaian, Dan juga Bunga Tangan.
			</p>
			<p>
				<strong><i class="fa fa-map-marker"></i> Alamat</strong>
				<br>
				Jalan Agus Salim - Bekasi
			</p>
			<p>
				<strong><i class="fa fa-phone-square"></i> Telephone</strong>
				<br>
				+6281218623743
			</p>
			<p>
				<strong><i class="fa fa-envelope"></i> Email</strong>
				<br>
				<a href="mailto:customer@mayaflorist.com" style="color: #000;">customer@mayaflorist.com</a>
			</p>
		</div>
		<div class="col-sm-6">
			<br>
			<br>
			<h5><strong>Hubungi Kami</strong></h5>
			<form action="" method="post">
				<div class="form-group"><input type="text" name="" id="" class="form-control" placeholder="Nama Anda"></div>
				<div class="form-group"><input type="text" name="" id="" class="form-control" placeholder="Email Anda"></div>
				<div class="form-group"><input type="text" name="" id="" class="form-control" placeholder="No Telephone"></div>
				<div class="form-group">
					<textarea name="" id="" class="form-control" placeholder="Pesan Anda"></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-block btn-success">Kirim</button>
				</div>
			</form>
		</div>
	</div>
</div>