{% extends 'layouts/bunga.twig' %}

{% block title %}
	Single product
{% endblock %}

{% block css %}
	<style>
		.title {
			margin-top: 10px;
		}
	</style>
{% endblock %}

{% block content %}
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-info">
					<div class="panel-body">
						<h3 class="title">Hello</h3>
						<hr>
						<p>
							<img src="//via.placeholder.com/600x600" alt="" class="img-responsive" style="width: 100%; height: 600px;">
						</p>
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aspernatur accusantium accusamus porro beatae natus excepturi tempora ipsum dolores tenetur, nisi amet error optio pariatur asperiores fugit, sed soluta odit vero rerum distinctio culpa possimus id dignissimos, maiores! Beatae rem nostrum fugit, hic explicabo deleniti placeat aliquam voluptatum debitis ducimus a reprehenderit, quam distinctio dolorum, asperiores. At minus voluptas fuga omnis, corporis eum officiis earum modi quae doloribus possimus a similique inventore porro est totam hic velit mollitia accusantium deleniti eius et quas nulla voluptates? Quae hic beatae odio labore, necessitatibus sit. Hic laborum ipsum quia optio quos aut accusamus eius odio, ex, libero omnis impedit pariatur? Suscipit, esse itaque ducimus. Labore fuga, optio perferendis voluptatibus nobis ducimus sint, mollitia magnam placeat et ad nisi sed, dolores nam beatae inventore! Distinctio aliquid iusto odit, praesentium odio, repudiandae eum alias laborum. Aspernatur vitae nam, ipsa vel excepturi cum deserunt in dignissimos nemo laboriosam voluptatum voluptatem. Rerum dignissimos voluptate animi modi, quos. Perferendis repellendus libero tenetur pariatur consequatur soluta laborum a itaque corporis autem atque, qui blanditiis obcaecati voluptate optio minus, porro commodi, quae necessitatibus magni. Impedit non commodi facere sapiente cupiditate ratione velit, odit deserunt sed vel voluptatum harum assumenda quas delectus neque tenetur facilis! Totam eaque quisquam vero magni error debitis blanditiis minima impedit doloremque quis ex architecto perspiciatis dolor nesciunt quos quam, eligendi nisi consequatur dolores, beatae inventore voluptatum. Rem eaque voluptatum, ipsa doloribus quibusdam possimus quos, velit sit sint nulla atque eius expedita libero labore, fugit assumenda. Sapiente eaque architecto illum quod id, incidunt, voluptatibus, unde provident numquam ut sint! Ipsum eligendi et voluptatem! Cumque reiciendis, natus eius fugiat, impedit eligendi quaerat. Numquam, enim omnis! Quo, ut, quae. Iusto perferendis minima odio minus beatae, possimus? Laborum unde tenetur aliquid excepturi ipsam saepe aperiam! Dolores praesentium, accusantium earum exercitationem, rem quis, voluptatibus reiciendis ipsam deserunt aliquam iure eveniet a eius saepe ex amet et vero dolor consequatur ea sunt unde mollitia. Iure eligendi, quam voluptates eos provident. Saepe tempore minima ipsam, eligendi autem cupiditate consequuntur nulla quos necessitatibus beatae asperiores culpa iste vitae quas voluptates id labore consequatur nostrum, explicabo voluptate. Voluptas, provident nam, quae esse rerum nihil nostrum mollitia. Ad corrupti ipsam expedita, reiciendis, delectus dolor fuga dolore adipisci cupiditate laudantium quasi quisquam commodi iusto pariatur vitae deleniti enim. Rerum esse incidunt, accusantium officia necessitatibus obcaecati deserunt commodi debitis voluptatibus dolorum ipsum dolorem vel earum nostrum corporis veniam quam eum a consequatur fugiat ex molestias. Officiis eligendi reprehenderit dolores dicta aspernatur qui inventore dignissimos, suscipit, quisquam molestias! Error consectetur culpa quaerat veniam quo a doloremque hic architecto optio voluptas aliquam tempora iusto, porro vel et, numquam sapiente! Facilis modi, delectus ea cum dicta ipsam nemo rem repudiandae repellat, dolores enim distinctio, eum! Adipisci alias, provident dolorem dolore? Soluta laudantium quidem sint maxime iusto harum consectetur recusandae animi quasi nostrum amet itaque totam atque, porro. Blanditiis velit hic est provident eos voluptatibus aliquid, saepe voluptate voluptatum expedita nihil beatae maxime, maiores, adipisci dolor laboriosam, iste nam aliquam cumque accusamus.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-info">
					<div class="panel-body">
						<h3 class="title">Produk Terkait</h3>
						<hr>
						<ul>
							<li><a href="">Lorem ipsum dolor sit amet.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet.</a></li>
							<li><a href="">Lorem ipsum dolor sit amet.</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}