{% extends 'layouts/bunga.twig' %}

{% block title %}
	Produk
{% endblock %}

{% block css %}
	<style>
		.lib-panel {
		    margin-bottom: 20Px;
		}
		.lib-panel img {
		    width: 100%;
		    background-color: transparent;
		}

		.lib-panel .row,
		.lib-panel .col-md-6 {
		    padding: 0;
		    background-color: #FFFFFF;
		}


		.lib-panel .lib-row {
		    padding: 0 20px 0 20px;
		}

		.lib-panel .lib-row.lib-header {
		    background-color: #FFFFFF;
		    font-size: 20px;
		    padding: 10px 20px 0 20px;
		}

		.lib-panel .lib-row.lib-header .lib-header-seperator {
		    height: 2px;
		    width: 26px;
		    background-color: #d9d9d9;
		    margin: 7px 0 7px 0;
		}

		.lib-panel .lib-row.lib-desc {
		    position: relative;
		    height: 100%;
		    display: block;
		    font-size: 13px;
		}
		.lib-panel .lib-row.lib-desc a{
		    position: absolute;
		    width: 100%;
		    bottom: 10px;
		    left: 20px;
		}
		.box-shadow {
		    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
		    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
		}
	</style>
{% endblock %}

{% block content %}
	<br>
	<br>
	<div class="container">
		<div class="row">
			{% for item in range(1,9) %}
			<div class="col-md-4">
				<div class="lib-panel">
			        <div class="row box-shadow">
			            <div class="col-md-6">
			                <a href="#"><img class="lib-img-show" src="http://lorempixel.com/850/850/?random={{ loop.index }}"></a>
			            </div>
			            <div class="col-md-6">
			                <div class="lib-row lib-header">
			                    <a href="#">Example library</a>
			                    <div class="lib-header-seperator"></div>
			                </div>
			                <div class="lib-row lib-desc">
			                    Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

